Load Packages

In [6]:
from sqlalchemy import create_engine
import pandas as pd

# Create a point to your psql database

In [3]:
engine = create_engine("postgresql:///opportunity_youth")

## Import a `psql` table as a `pandas` dataframe

In [18]:
puma_names_df = pd.read_sql(sql='SELECT * FROM puma_names_2010', con=engine)

In [16]:
puma_names_df['state_name'] = 'Washington'

In [17]:
puma_names_df

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,1,Washington,1,100,100100,G01000100,"Lauderdale, Colbert, Franklin & Marion (Northe..."
1,1,Washington,1,800,100800,G01000800,St. Clair & Blount Counties ...
2,1,Washington,1,1400,101400,G01001400,"Walker, Marion (South & West), Fayette & Lamar..."
3,1,Washington,1,1500,101500,G01001500,Tuscaloosa (Outer) & Pickens Counties--Northpo...
4,1,Washington,1,1600,101600,G01001600,Tuscaloosa & Northport (Southeast) Cities ...
...,...,...,...,...,...,...,...
2373,72,Washington,1082,802,7200802,G72000802,Bayamón Municipio (OEste) ...
2374,72,Washington,1083,804,7200804,G72000804,San Juan Municipio (Noroeste) ...
2375,72,Washington,1084,805,7200805,G72000805,San Juan Municipio (Este) ...
2376,72,Washington,1084,806,7200806,G72000806,San Juan Municipio (Sur) ...
2377,72,Washington,1085,1001,7201001,G72001001,Caguas Municipio ...

## Use CREATE TABLE table_name AS ( QUERY )

Window functions? (Over?) <- Learn that shit