Load Packages

In [1]:
from sqlalchemy import create_engine
import pandas as pd

# Create a point to your psql database

In [25]:
engine = create_engine("postgresql:///opportunity_youth")

## Import a `psql` table as a `pandas` dataframe

In [48]:
puma_names_df = pd.read_sql_table('wapuma', con=engine)
puma_names_df

,state_name,puma,puma_name
0,Washington ...,11601,Seattle City (Northwest) ...
1,Washington ...,11602,Seattle City (Northeast) ...
2,Washington ...,11603,Seattle City (Downtown)--Queen Anne & Magnolia...
3,Washington ...,11604,Seattle City (Southeast)--Capitol Hill ...
4,Washington ...,11605,Seattle City (West)--Duwamish & Beacon Hill ...
5,Washington ...,11606,"King County (Northwest)--Shoreline, Kenmore & ..."
6,Washington ...,11607,"King County (Northwest)--Redmond, Kirkland Cit..."
7,Washington ...,11608,King County (Northwest Central)--Greater Belle...
8,Washington ...,11609,"King County (Central)--Sammamish, Issaquah, Me..."
9,Washington ...,11610,"King County (Central)--Renton City, Fairwood, ..."
10,Washington ...,11613,King County (Southwest Central)--Kent City ...
11,Washington ...,11614,King County (Southwest)--Auburn City & Lakelan...
12,Washington ...,11611,"King County (West Central)--Burien, SeaTac, Tu..."
13,Washington ...,11612,"King County (Far Southwest)--Federal Way, Des ..."

## Use CREATE TABLE table_name AS ( QUERY )

Window functions? (Over?) <- Learn that shit

d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

In [49]:
OY1 = {'16-18': [2805, 587, 46661], '19-21': [7284, 2049, 32318], '22-24': [8728, 2877, 36426]}

In [53]:
OY1_df = pd.DataFrame(data=OY1, index = ['Opportunity Youth', 'Working Without Diploma', 'Not An Opportunity Youth'])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [55]:
OY2 = {'16-18': [1610, 985, 179, 31], '19-21': [2048, 3349, 1666, 221], '22-24': [1981, 3067, 1763, 1917]}

In [56]:
OY2_df = pd.DataFrame(data=OY2, index = ['No diploma', 'HS diploma or GED', 'Some college, no degree', 'Degree (Associate or higher)'])

In [57]:
OY2_df

                              16-18  19-21  22-24
No diploma                     1610   2048   1981
HS diploma or GED               985   3349   3067
Some college, no degree         179   1666   1763
Degree (Associate or higher)     31    221   1917